@charset "UTF-8";

#index {
  width: 100%;
  padding-top: 3rem;
  background-color: #d9d9d9;
}

#index table {
  min-width: 72vw;
  text-align: left;
  margin-left: 256px;
  margin-right: 200px;
}

#index table th {
  text-align: left;
  padding: 0.4rem;
  color: #b1b1b1;
}

#index table tr {
  background-color: #fff;
}

#index table td {
  padding: 0.4rem;
}

.edit_btn {
  display: flex;
  justify-content: end;
  margin: 0 2rem 2rem 0;
}

table tr td:nth-child(5) {
  width: 100px;
}

.in {
  background-color: #eb5e28;
  display: block;
  position: fixed;
  border-radius: 4rem;
  color: #fff;
  text-align: center;
  width: 200px;
  height: 212px;
  box-shadow: 0 0.4rem 0.6rem hsl(0 0% 0% / 36%);
  top: 280px;
  left: 28px;
}

.in #btn {
  position: absolute;
  bottom: 1rem;
  right: 52px;
}

.select_btn {
  border: 1px solid #b1b1b1;
  border-radius: 1rem;
  width: 50%;
  height: 2rem;
  padding: 0 10px;
  margin-bottom: 1rem;
  background: #fff;
  color: #524439;
}
