@charset "UTF-8";

textarea {
  width: 300px;
  margin-right: 2rem;
  border: 1px solid #b1b1b1;
}

/* 登録済み一覧 */
.menu {
  width: 98%;
}

.menu_table {
  display: flex;
  flex-wrap: wrap;
}

.menu #td_name {
  padding-left: 1rem;
}

.menu table {
  background-color: #d9d9d9;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.4rem hsl(0 0% 0% / 36%);
}

.menu td {
  display: flex;
  margin: 1rem;
}

.menu #tab,
.menu button {
  background-color: #fff;
  color: #b1b1b1;
  height: 2rem;
  width: 5rem;
  border: none;
  border-left: 1px solid #d9d9d9;
  transition: 0.4s;
  border-radius: 0;
  box-shadow: none;
  transform: none;
  margin: 0;
}

.menu #tab:hover,
.menu button:hover {
  background-color: #eb5e28;
  color: #fff;
}

/*画面下部追加*/
.edit_menu {
  padding-left: 1rem;
}

.edit_menu form {
  display: flex;
}

.edit_menu #btn {
  color: #fff;
  background-color: #ccc5b9;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2.4rem;
  text-align: center;
  box-shadow: 0 0.2rem 0.1rem hsl(0 0% 0% / 36%);
  display: block;
  transition: 0.6s;
  margin: 2rem 0;
  width: fit-content;
}

.edit_menu #btn:hover {
  background-color: #fff;
  color: #ccc5b9;
  border-radius: 3rem;
  transform: translateY(5px);
}

/* 名称確認画面 */
.confirm_menu {
  padding-left: 1rem;
}

.confirm_menu p {
  border-left: 4px solid #ccc5b9;
  padding: 0 1rem;
}

.confirm_menu #btn {
  margin-top: 2rem;
}
